@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#272727]
}

.tooltip .tooltiptext {
  @apply invisible text-center right-2.5 absolute z-[1] lg:right-16;
}

.tooltip:hover .tooltiptext {
  @apply visible;
}

.tooltiptext:before {
  content: ""; 
  position: absolute;
  left: -7px; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right: 7px solid rgb(255, 255, 255); 
  top: 24px;
}

.tooltip:hover .card-item-name {
  @apply text-neutral-400;
}

.tooltip:hover .card-item-description {
  @apply text-neutral-500;
}

.tooltip:hover .card-item-image {
  @apply border-white;
}

.card-item-image + .card-item-count {
  @apply absolute;
} 

